
  - name: Update apt cache
    apt:
      update_cache: yes

  - name: Install MySQL 5.7 packages
    apt:
      name: "{{ item }}"
      state: present
    loop:
      - mysql-server-5.7
      - mysql-client-5.7
      - python-mysqldb # Needed for mysql_user/db modules

  - name: Set MySQL root password
    mysql_user:
      name: root
      password: "{{ mysql_root_password }}"
      host: localhost
      state: present
      login_unix_socket: /var/run/mysqld/mysqld.sock # For passwordless root access during setup

